<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/garage</property>
        <property name="hibernate.id.new_generator_mappings">false</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- JDBC connection pool -->
        <property name="connection.pool_size">10</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Prepopulate database with this DML script -->
        <property name="hibernate.hbm2ddl.import_files">/data.sql</property>

        <property name="connection.autocommit">true</property>


        <!-- Names the annotated entity class -->
        <mapping class="com.kursach.model.Driver"/>
        <mapping class="com.kursach.model.Auto"/>
        <mapping class="com.kursach.model.Fuel"/>
        <mapping class="com.kursach.model.Order"/>
        <mapping class="com.kursach.model.User"/>
    </session-factory>
</hibernate-configuration>